  body {
      margin: 0;
      background-color: #f1f1f1;
      font-size-adjust: auto;
      font-variant: normal;
  }


  .login-button {
      display: inline-block;
  }

  .login-button {
      border: none;
      float: right;
      margin-top: 12px;
      color: #2D0B33;
  }

  .login-button:focus {
      outline: none;
  }

  .topbar {
      height: 7%;
      background-color: rgb(255, 226, 255);
      box-shadow: 0 4px px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      color: #2D0B33;
      padding-left: 0;
      position: fixed;
      top: 0;
      display: block;
      transition: top 1s, margin-left 1s, width 1s;
      width: 84%;
      margin-left: 16%;
      clear: both;

  }

  .sidebar {
      height: 100vh;
      width: 16%;
      background-color: #2D0B33;
      box-shadow: 0 1px px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: auto;
      padding-top: 20px;
      transition: width 1s;
  }

  .sidebar_button_container {
      overflow-y: scroll;
      z-index: -1;
  }


  .sidebar_button {
      height: auto;
      padding: 10px 0px 10px 30px;
      font-weight: bold;
      font-size: 15px;
      margin: 5px 0;
      background-color: #2D0B33;
      color: beige;
      border-radius: 4px;
      border: none;
      text-align: left;
  }

  .sidebar_button,
  i {
      font-size-adjust: auto;
  }

  .sidebar_button:hover {
      color: beige;
      background-color: rgba(126, 27, 175, 0.2);
      transition-duration: 0.8s;
      cursor: pointer;
  }


  .sidebar_button:focus {
      outline: none;
      opacity: 0.9;
      transition: opacity 0.3s;
  }

  .avatar-container {
      height: auto;
      width: 100%;
      border-bottom: 2px groove rgb(242, 141, 255);
      padding-bottom: 20px;
      margin-bottom: 20px;

  }

  main {
      height: auto;
      margin-left: 16%;
      width: 84%;
      /* Increased text to enable scrolling */
      padding-top: 40px;
      transition: width 0.9s, margin-left 0.9s;



  }



  i {

      margin-right: 20px;
      text-align: left;

  }


  img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      display: block;
      border: 2px solid white;
      padding: 2px;
      box-shadow: 0 1px px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: auto;
      z-index: 1;
      max-width: 120px;
  }

  .openbtn {
      font-size: 20px;
      cursor: pointer;
      color: #2D0B33;
      background-color: transparent;
      padding: 10px 15px;
      border: none;
      float: left;
  }

  .openbtn:focus {
      outline: none;
      opacity: 0.4;
      transition: opacity 0.3s;
  }

  .closebtn {
      position: absolute;
      top: 12px;
      right: 12px;
      color: whitesmoke;
      background-color: #2D0B33;
      border: none;
      text-align: center;
  }

  .closebtn:focus {
      outline: none;
      opacity: 0.1;
      transition: opacity 0.3s;
  }

  .closebtn:hover {
      text-decoration: none;
      color: whitesmoke;
  }

  .question-entry {
      margin: auto;
  }

  .login-button,
  .dropdown-content {
      display: block;
  }

  .dropdown-content {
      height: auto;
      width: 10%;
      float: right;
      color: #2D0B33;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      background-color: #f1f1f1;
      min-width: 100px;
      overflow: auto;
      z-index: 1;
      right: 15px;
      position: absolute;
      top: 30px;
      display: none;
  }

  .access {
      height: auto;
      width: 100%;
      text-decoration: none;
      display: block;
      text-align: justify;
      vertical-align: middle;
      padding: 5px 10px;
      color: #2D0B33;
      font-family: serif;
      font-size: 18px;
      font-size-adjust: auto;

  }

  .access:hover {
      text-decoration: none;
      background-color: #ddd;
      transition: background-color 0.8s;
  }




  /* Full-width input fields */
  .details {
      width: 100%;
      padding: 6px 14px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
  }

  /* Set a style for all buttons */
  .cancelbtn,
  .btnsubmit {
      background-color: #4CAF50;
      color: white;
      padding: 6px 14px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
  }

  .cancelbtn,
  .btnsubmit:hover {
      opacity: 0.8;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
      width: auto;
      padding: 6px 14px;
      background-color: #f44336;
  }

  /* Center the image and position the close button */
  .imgcontainer {
      text-align: center;
      margin: 0;
      position: relative;

  }

  img.avatar {
      width: 30%;
      height: 30%;
      border-radius: 50%;
      vertical-align: middle;
      display: block;
  }

  .container {
      padding: 10px 10px;
  }

  span.psw {
      float: right;
      padding-top: 10px;
  }

  /* The Modal (background) */
  .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
      padding-top: 10px;
  }

  /* Modal Content/Box */
  .modal-content {
      background-color: #fefefe;
      margin: 1% auto;
      /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 35%;
      /* Could be more or less, depending on screen size */
  }

  /* The Close Button (x) */
  .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: red;
      cursor: pointer;
  }

  /* Add Zoom Animation */
  .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
      from {
          -webkit-transform: scale(0)
      }

      to {
          -webkit-transform: scale(1)
      }
  }

  @keyframes animatezoom {
      from {
          transform: scale(0)
      }

      to {
          transform: scale(1)
      }
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
      span.psw {
          display: block;
          float: none;
      }

      .cancelbtn {
          width: 100%;
      }


      @media screen and (max-width: 600px) {

          main,
          header {
              width: 100%;
          }

          main {
              padding: 10px auto;
          }

          .sidebar {
              display: none;
          }
      }

      @media screen and (max-width: 480px) {
          .sidebar {
              width: 50%;
          }
      }