* {
    box-sizing: border-box;
}

html {
    font-size: calc(0.58em + 0.58vw);
}

form {
    margin: 1% auto;

}

table, thead, tfoot, th, tr, td {
    text-align: center;
    padding: 0;
    vertical-align: middle;
    clear: both;
}

h2, h4 {
    text-align: center;
}

.date {
    float: right;
    text-align: right;
    margin-right: 0;
}

.className {
    float: left;
    text-align: left;
    margin-left: 0;
}

.formaster {
    float: none;
    text-align: center;
    margin: auto;
}

img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-left: 0;
    margin-top: 0;
}

.title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.form-check-inline {
    margin: 0 0 0 0;
}

input {
    text-align: center;
    padding: 0;
}


.first_row select {
    margin: auto 10px;
}

.upper-save, .upper-calculate {
    margin-left: 10px;
}

.calculate {
    margin-right: 5px;
}

.pagination-container {
    margin-right: 0;
    float: right;
}

.above_table_row {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.btn {
    background-color: darkgreen;
}

.btn:hover {
    background-color: darkgreen;
    opacity: 0.9;
    transition: opacity 0.2s;
}

li a.page-link {
    color: forestgreen;
}

#school_name {
    color: darkorange;
    border: 2px groove darkgreen;
    border-radius: 5px;
    padding: 5px 15px;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    text-align: center;
}