.question_entry_form {
    margin: 5% auto;
    border: 1px solid #2D0B33;
    border-radius: 10px;
    background-color: rgb(255, 246, 255);
    box-shadow: 0 1px px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: sans;
    padding: 0;
    display: block;
    clear: both;
}


.add_question_btn {
    margin: 30px auto;
    background-color: #2D0B33;
    color: white;
    display: block;

}

.form-label,
.opt_input {
    display: inline-block;
    margin: 10px auto;
}

.opt_group {
    display: block;
}


.form-header {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

.tophead {
    width: 100%;
    background-color: #2D0B33;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}


#question-label, .question {
    display: inline-block;
}

#upload-image {
    font-stretch: ultra-condensed;
    font-size-adjust: auto;
}


